.topNav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

.topNav {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1000px;
    background: wheat;
}

.popUpMenu {
    position: absolute;
}

.stage-box {
    position: relative;
}

.targets-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.targets-btn {
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    padding: 2rem;
}

.map-div {
    width: 100%;
}